@import url('https://fonts.googleapis.com/css?family=Montserrat:500,800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Montserrat', sans-serif;
}

body{
    width:100%;
    height:100%;
}

.heroImage{
    width:100%;
    height:100vh;
}

.heroImg{
    position:absolute;
    width:100%;
    height:100%;
    background-image:url("https://media.posterstore.com/site_images/6859980c227f10efd5fe4bc4_1995131595_11636-8.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    filter:brightness(70%);
}

.welcomeText{
    width:100%;
    height:100%;
    position:absolute;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    padding:0px 30px;
}

.welcomeText .text{
    width:65%;
}

.text strong{
    font-size:30px;
    color:white;
}

.container{
    width:100%;
    height:100vh;
    padding:30px 0px;
}

.carousel-1{
    display:flex;
    width:100%;
    height:px;
    align-items:center;
    justify-content:center;
    position:relative;
}

.images{
    height:400px;
    width:600px;
    overflow:hidden;
    margin-top:30px;
    background:rgba(255, 255, 255, 0.3);
    box-shadow:0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter:blur(2px);
    -webkit-backdrop-filter:blur(2px);
    border-radius:10px;
    border:1px solid rgba(255, 255, 255, 0.18);
}

.label{
    text-align:center;
    font-size:30px;
    text-transform:uppercase;
    font-weight:bold;
}

.paraghraph{
    width:100%;
    height: 500px;
    font-weight: none;
    margin-top: 50px;
    text-align: center;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.textContent {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    width: 600px;
    text-align: justify;
}

.carousel-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .slider {
    width: 60%;
    height: auto;
    overflow: hidden;
    transition: opacity 1s ease-in-out;
}

.slider .box {
    width: 100%;
    height: auto;
}

.box .img,
.box .txt {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    object-fit: contain;
}
.txt .content {
    width: 100%;
    font-size: 12px;
    padding: 0px 20px;
    text-align: center;
    margin-top: 13px;
    font-weight: bold;
}


#prevBtn,
#nextBtn {
    background: black;
    border: none;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: white;
}

.accordion-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    padding: 45px 90px 45px 60px;
}

.accordion .image-box {
    height: 200px;
    display: flex;
    align-items: center;
}

.accordion .image-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.accordion .accordion-text {
    width: 60%;
    height: 200px;
}

.accordion .accordion-text .title {
    font-size: 25px;
    font-weight: 600;
    color: #62c145;
}

.accordion .accordion-text .faq-text {
    margin-top: 20px;
    height: 263px;
    overflow-y: auto;
}

.faq-text::-webkit-scrollbar {
    display: none;
}
.accordion .accordion-text li {
    list-style: none;
    cursor: pointer;
}

.accordion-text li .question-arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion-text li .question-arrow .question {
    font-size: 15px;
    font-weight: 500;
    color: #595959;
    transition: all 0.3s ease;
}

.accordion-text li .question-arrow .arrow {
    font-size: 20px;
    color: #595959;
    transition: all 0.3s ease;
}
.accordion-text li.showAnswer .question-arrow .arrow {
    transform: rotate(-180deg);
}

.accordion-text li:hover .question-arrow .question,
.accordion-text li:hover .question-arrow .arrow {
    color: #62c145;
}

.accordion-text li.showAnswer .question-arrow .question,
.accordion-text li.showAnswer .question-arrow .arrow {
    color: #62c145;
}

.accordion-text li .line {
    display: block;
    height: 2px;
    width: 100%;
    margin: 10px 0;
    background: rgba(0, 0, 0, 0.1);
}

.accordion-text li p {
    width: 92%;
    font-size: 12px;
    text-align: justify;
    color: #595959;
    display: none;
}

.accordion-text li.showAnswer p {
    display: block;
    text-align: justify;
}